# OS
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Go build
bin/
pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage*.txt
*.coverprofile

# Nakama plugin artifacts
build/modules/
